footer{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 150px;
    z-index: 99;
}

.footer_border{
    width: 100%;
    border-top: 1px solid white;
    margin-bottom: 15px;
}