html{
    position: relative;
}


.snow{

    background-image: url('./../../icons/background1.png'), url('./../../icons/background2.png'), url('./../../icons/background3.png');
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -999;
    animation: snow 30s linear infinite;
    filter: blur(11px);
    
}

@keyframes snow {
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100%{
        background-position: 600px 1800px, 600px 1200px, 600px 600px;
    }
    
}